# Frontend
VITE_API_BASE=http://localhost:4000/api

# Backend
PORT=4000
FRONTEND_URL=http://localhost:5173

YOUTUBE_API_KEY=your_youtube_api_key
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
VITE_SPOTIFY_REDIRECT_URI=http://localhost:5174/spotify-import
